{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<title>COVCARE</title>
{% endblock meta %}

{% block content %}
<div id="id-jumbotron">
    <div class="jumbotron text-right">
        {% include 'navbar.html' %}
        <div class="intro">
            {% if user.is_authenticated %}
            <h1>Halo, {{user.username}}!</h2>
            {% else %}
            <h1>Pandemi COVID-19</h1>
            {% endif %}
            <p>Mari tingkatkan rasa kepeduliaan kita terhadap 
                <br>satu sama lain demi melawan COVID-19 
                <br>melalui platform COVCARE.</p>
            <a class= "btn btn-info" href="/#id-subs"><span style="font-weight: bold;">Subscription</span></a>
        </div>
    </div>
</div>
<div id="id-info">
    <div class="informasi">
        <h1>Informasi COVID-19</h1>
        <p>COVID-19 dapat tersebar melalui droplet yang dikeluarkan ketika orang terinfeksi batuk, bersin, atau menghembuskan nafas.
            Droplet ini cepat jatuh dan bertahan selama 28 hari di permukaan benda.
            Lakukan langkah berikut untuk mencegah penyebarannya.
        </p>
    </div>
    <div class="row">
        <div class="col">
            <div class="card img-card" style="width: 13rem; border-radius: 30px;">
                <div class="card-body">
                    <img src='{% static "masker.svg" %}' style="height: 70px;" class="card-img-top">
                    <p class="card- text-center pt-3">
                        Pakai Masker
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card img-card" style="width: 13rem; border-radius: 30px;">
                <div class="card-body">
                    <img src='{% static "cuci_tangan.svg" %}' style="height: 70px;" class="card-img-top">
                    <p class="card- text-center pt-3">
                        Cuci Tangan
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card img-card" style="width: 13rem; border-radius: 30px;">
                <div class="card-body">
                    <img src='{% static "berjarak.svg" %}' style="height: 70px;" class="card-img-top">
                    <p class="card- text-center pt-3">
                        Jaga Jarak
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="id-kasus">
    <h1 id="total-text">Kasus COVID-19 di Indonesia</h1>
    {% for i in kasus %}
    {% if forloop.last %}
    <div class="row" style="justify-content: center;">
        <div class="card text-white bg-info mb-3" id="id-box" style="max-width: 10rem;">
            <div class="card-header">
                <h6>Terkonfirmasi</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ i.total }}</h5>
            </div>
        </div>
        <div class="card text-white bg-danger mb-3" id="id-box1" style="max-width: 10rem;">
            <div class="card-header">
                <h6>Dirawat</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ i.dirawat }}</h5>
            </div>
        </div>
        <div class="card text-white bg-success mb-3" id="id-box2" style="max-width: 10rem;">
            <div class="card-header">
                <h6>Sembuh</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ i.sembuh }}</h5>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" id="id-box3" style="max-width: 10rem;">
            <div class="card-header">
                <h6>Meninggal</h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ i.meninggal }}</h5>
            </div>
        </div>
    </div>
    <div class="row" style="justify-content: center;">
        <p style="color: black;">Terakhir update: {{ i.update }}</p>
    </div>
    {% endif %}
    {% endfor %}
    <div class="btnupdate" style="text-align: center; padding-top: 10px;">
        <a class="btn btn-outline-info" href="{% url 'home:kasusupdate' %}">Klik untuk melakukan update kasus</a>
    </div>
    <br>
</div>
<div id="id-cari" style="text-align: center;">
    <h1 id="total-text">Kasus COVID-19 di Tiap Provinsi</h1>
        <input id="search" type="text" class="mt-3" placeholder="Masukkan nama provinsi"  style="width: 20vw; font-family: 'Poppins'; text-align: center;">
        <br>
        <br>
        <table id="target-ajax" border=1 style="width: 40%; justify-content: center; font-family: 'Poppins';">

        </table>
</div>
<div id="id-gejala">
    <div class="row" style="margin-bottom: 50px;">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 60rem; border-radius: 30px; background-color: #eeeeee;">
                <div class="row">
                    <div class="col-sm-left">
                        <div class="text-title">
                            <p style="color: black; font-size: 40px; font-weight: bold;">Gejala</p>
                        </div>
                    </div>
                    <div class="col-sm-right" style="width:600px; padding: 30px;">
                        <div class="text-body">
                            <p style="color: black; font-size: 15px; text-align: left;">
                                Pada umumnya orang yang terpapar virus COVID-19 akan menunjukkan gejala pada hari
                                ke-5 hingga hari ke-14. Berikut gejala yang biasanya terjadi,
                                <br>Gejala Umum:
                            <br>1. Demam
                            <br>2. Batuk kering
                            <br>3. Merasa lelah
                            <br>
                            <br>Gejala Serius:
                            <br>1. Sesak nafas
                            <br>2. Nyeri pada dada
                            <br>3. Hilang kemampuan berbicara atau bergerak 
                            <br>
                            <br>Jika merasakan gejala diatas, segera kunjungi/hubungi rumah sakit rujukan dengan klik tombol dibawah ini.
                            <br>
                            <br>
                            <a class= "btn btn-info" href="{% url 'hotline:hotline' %}"><span style="font-weight: bold;">Hotline.</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="id-penanganan">
    <div class="row" style="margin-bottom: 50px;">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 60rem; border-radius: 30px; background-color: #eeeeee;">
                <div class="row">
                    <div class="col-sm-left">
                        <div class="text-title">
                            <p style="color: black; font-size: 40px; font-weight: bold;">Penanganan</p>
                        </div>
                    </div>
                    <div class="col-sm-right" style="width:600px; padding: 30px;">
                        <div class="text-body">
                            <p style="color: black; font-size: 15px; text-align: left;">
                                Jika Anda merasa sakit, lakukan beberapa penanganan mandiri sebagai berikut,
                                <br>1. Gunakan ruangan yang terpisah dari keluarga atau kerabat
                                <br>2. Lakukan disinfeksi pada permukaan yang sering disentuh
                                <br>3. Jaga pola hidup sehat
                                <br>4. Batasi kontak sosial dengan siapapun
                                <br>
                                <br>Untuk menjaga kesehatan psikis selama terinfeksi, ceritalah kepada orang yang Anda percaya atau Anda dapat berbagi cerita dengan klik tombol dibawah ini.
                                <br>
                                <br>
                                <a class= "btn btn-info" href="{% url 'sharing:sharing' %}"><span style="font-weight: bold;">Sharing.</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="id-subs">
    <h2>SUBSCRIBE TO COVCARE</h2>
    <form method="POST" action="#id-subs">
        {% csrf_token %}
        <table>  
            <td>{{ form }}</td>
        </table>
        {% if messages %}
        <ul style="list-style-type:none">
            {% for message in messages %}
                <li class="text-success">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <input class="btn btn-info" type="submit" value="SUBSCRIBE" style="font-weight: bold;">
    </form>
</div>
{% endblock content %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static 'home.js' %}"></script>
{% endblock script %}