{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<title>Log In</title>
<style>
  .wrapper-page {
    width: 340px;
    margin: 50px auto;
    margin-bottom: 15px;
    background: linear-gradient(to right, #00A9A5 0%, #4E8098 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .wrapper-page h1 {
    color: white !important;
  }
  .regist {        
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    border: 2px solid white;
    margin: 0 0;
    width: 150px;
    border-radius: 20px;
  }
  .regist:hover{
    border-radius: 20px;
    border-image-source: linear-gradient(to right, #015f5e 0%, #31505f 100%);
    background: linear-gradient(to right, #015f5e 0%, #31505f 100%);
  }
</style>
{% endblock meta %}

{% block content %}
<div>
  {% include 'navbar.html' %}
</div>
<div class="wrapper-page">
    <h1 class="abril-font" style="font-size: 50px; font-weight: bold;">Log In</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <center><input type="submit" name="Register" class="btn btn-primary regist"></center>
    </form>
    
</div>

{% endblock content %}