{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Sign Up</title>
<style>
	.login-form {
		width: 340px;
    margin: 50px auto;
	}
  .login-form form {
    margin-bottom: 15px;
    background: linear-gradient(to right, #00A9A5 0%, #4E8098 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .login-form h2 {
    margin: 0 0 15px;
  }
  .form-control, .regist {
    min-height: 40px;
    border-radius: 2px;
  }
  .regist {        
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    border: 2px solid white;
    margin: 0 0;
    width: 150px;
    border-radius: 20px;
  }
  .regist:hover{
    border-radius: 20px;
    border-image-source: linear-gradient(to right, #015f5e 0%, #31505f 100%);
    background: linear-gradient(to right, #015f5e 0%, #31505f 100%);
  }
</style>
{% endblock meta %}

{% block content %}
<div>
  {% include 'navbar.html' %}
</div>
<div class="login-form">
    <form action="" method="POST">
        {% csrf_token %}
        <h1 class="text-center" style="color: white;">Sign Up</h1> <br>       
        {% for field in form %}
        <div class="form-group">
            {{field}}
        </div>
        {% endfor %}
        <div class="form-group">
            <center><input type="submit" name="Register" class="btn btn-primary regist"></center>
        </div> 
    </form>
    <p class="text-center">Already have account?<a href="login"> Login</a></p>
</div>

{% endblock content %}