* {
    padding: 0;
    margin: 0;
}
.container {
    margin: 40px;
    text-align: center;
    justify-content: center;
}
#total-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 40px;
}
.row {
    margin: 20px;
}
.card {
    margin: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    
}
td {
    padding: 10px;
}
.btn.btn-info {
    text-align: center;
    justify-content: center;
}