* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: transparent !important;
    padding-bottom: 100px !important;
}

.jumbotron {
    background-image: url('home_photo.svg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    border-radius: 0px !important;
    padding: 0px !important;
}

.intro{
    padding-top: 60px;
    padding-right: 90px;
}
.jumbotron.text-right {
    margin-bottom: 0px;
}
.jumbotron.text-right h1, p {
    color: white;
    text-align: right;
    font-family: 'Poppins', sans-serif;
}
.jumbotron.text-right h1 {
    font-size: 50px;
}
.jumbotron.text-right p {
    font-size: 20px;
}
#id-info {
    padding: 50px;
}
.informasi h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.informasi p {
    color: black;
    text-align: center;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
}
.row {
    width: 100%;
    margin: 0px;
}
.col{
    padding: 0px;
}
.card.img-card{
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    margin-bottom: 25px;
    margin-top: 25px;
}
.card-.text-center.pt-3{
    color: #00A9A5;
    font-weight: 600;
    font-size: 20px;
}
#id-kasus {
    padding: 100px;
}
#id-kasus h1{
    font-family: 'Poppins', sans-serif;
}
#total-text {
    font-weight: 600; 
    font-size: 30px;
}
#id-kasus .row .card {
    margin: 20px;
}
#id-kasus .row .card .card-header {
    font-size: 50px;
}
#id-gejala {
    padding-top: 40px;
}
#id-gejala .row .col.d-flex.justify-content-center .card .row .col-sm-left .text-title {
    margin: 100px; 
    margin-top: 160px;
}
#id-penanganan .row .col.d-flex.justify-content-center .card .row .col-sm-left .text-title {
    margin: 35px;
    margin-top: 100px;
}

#id-subs{
    text-align: center;
}
#id-subs h2 {
    font-weight: bold;
    font-size: 25px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
td {
    padding: 10px;
}
@media (min-width: 320px) {
    .intro{
        padding-top: 10px;
        padding-right: 30px;
    }
    .jumbotron.text-right h1 {
        font-size: 30px;
    }
    .jumbotron.text-right p {
        font-size: 15px;
    }
    #id-kasus {
        padding: 30px;
    }
    #total-angka {
        font-size: 30px;
    }
    #id-gejala .row .col.d-flex.justify-content-center {
        padding: 30px;
    }
    #id-gejala .row .col.d-flex.justify-content-center .card .row .col-sm-left .text-title {
        margin: 30px;
    }
    #id-gejala .row .col.d-flex.justify-content-center .card .row .col-sm-left .text-title p{
        font-size: 30px !important;
    }
    #id-gejala .row .col.d-flex.justify-content-center .card .row .col-sm-right {
        padding-top: 0px !important;
    }
    #id-penanganan .row .col.d-flex.justify-content-center {
        padding: 30px;
    }
    #id-penanganan .row .col.d-flex.justify-content-center .card .row .col-sm-left .text-title {
        margin: 30px;
    }
    #id-penanganan .row .col.d-flex.justify-content-center .card .row .col-sm-left .text-title p{
        font-size: 30px !important;
    }
    #id-penanganan .row .col.d-flex.justify-content-center .card .row .col-sm-right {
        padding-top: 0px !important;
    }
}
@media (min-width: 800px) {
    .intro{
        padding-top: 45px;
        padding-right: 90px;
    }
    #id-gejala .row .col.d-flex.justify-content-center .card .row .col-sm-left .text-title {
        margin: 30px;
        margin-right: 90px;
    }
}
@media (min-width: 1000px) {
    .intro{
        padding-top: 60px;
        padding-right: 90px;
    }
    .jumbotron.text-right h1 {
        font-size: 50px;
    }
    .jumbotron.text-right p {
        font-size: 20px;
    }
    #id-gejala .row .col.d-flex.justify-content-center .card .row .col-sm-left .text-title {
        margin: 100px; 
        margin-top: 200px;
    }
    #id-gejala .row .col.d-flex.justify-content-center .card .row .col-sm-right {
        padding-top: 30px !important;
    }
    #id-penanganan .row .col.d-flex.justify-content-center .card .row .col-sm-left .text-title {
        margin: 35px;
        margin-top: 150px;
        padding-left: 20px;
    }
    #id-penanganan .row .col.d-flex.justify-content-center .card .row .col-sm-right {
        padding-top: 30px !important;
        margin-left: 10px;
    }
}