{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
        
    <body>
        
        {% block content %} 
        <div>
            {% include 'navbar.html' %}
          </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="header-hotline">
                        Hotline
                    </div> <br>
                    <div style = "margin-top: 30px;">
                        <img src = "{% static 'telefonrumah.png' %}" id = "img-hotline-1">
                        <div id = "content-hotline-page-1" style="margin-right:45px;">
                            199
                        </div>
                        <br>
                        <img src = "{% static 'telefon.png' %}" id = "img-hotline-2">
                        <div id = "content-hotline-page-1" style="margin-left: 100px;">
                            021-5210411
                        </div>
                        <br>
                        <img src = "{% static 'www.png' %}" id = "img-hotline-3">
                        <div id = "content-hotline-page-1" style="margin-left: 90px;">
                            covid19.go.id
                        </div>
                    </div>
                    
                    <br>
                </div>
                <div class="col-md-6">
                    <div id="header-hotline">
                        Rumah Sakit
                    </div><br>
                    <div class="input" style = "text-align: right;align-items: center;">
                        <img src="{% static 'search.png' %}" style = "width: 25px;height : 25px;"> 
                        <input type="text" id="input" placeholder="Search for hospital.." title="Type in a name">
                    </div>
                    <div class="overflow-auto" style="max-height: 300px; margin-top:40px;">
                        <div id="content-rs-page-1" style ="margin-left: 100px;">
                            <ol type="1">
                                {% if rumah_sakit %}
                                    {% for rs in rumah_sakit %}
                                    <li>{{ rs.nama }}({{rs.nomor}}) </li>
                                    {% endfor %}
                                {% endif %}
                            </ol>
                        </div>
                    </div>
                </div>
                <div class = "col-centered">
                    <div id="header-forms">
                        Tambahkan rumah sakit di sini
                    </div> <br>
                    <form method="POST" action = "saveRumahSakit">
                        {% csrf_token %}
                        {{form}}
                        <input type ='submit' value='Submit' style="background-color: #00A9A5; color:#FFFFFF; border-radius: 5px; margin-left: 50px;"/>
                    </form>
                </div>
            </div>
        </div>
        
            
        
    {% endblock content %}
    {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="{% static 'js/hotline.js' %}"></script>
    {% endblock script %}
        
    </body>
</html>