{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Donation</title>
{% endblock meta %}

{% block content %}
<div>
  {% include 'navbar.html' %}
</div>
<div id="carouselDonations" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselDonations" data-slide-to="0" class="active"></li>
    <li data-target="#carouselDonations" data-slide-to="1"></li>
    <li data-target="#carouselDonations" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static '1.png' %}" alt="Donate">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static '2.png' %}" alt="MariBerdonasi">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static '3.png' %}" alt="MariBerdonasi">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselDonations" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselDonations" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br><br>
<div class="donate-container">
  <h1 id="donate">Donate</h1>
  <p id="donateText">Ayo bantu teman-teman kita yang kesulitan ditengah pandemi! <br>
  (Hasil pengisian form akan ditampilkan pada tabel di bawah) <br></p>
  <div class="donation">
      <form method="POST" action="savecontributors">
          {% csrf_token %}
          <table>  
              <td>{{ form }}</td>  
              <td>
                <input class="btn btn-info" type="submit" value="Next">
              </td>
          </table>
      </form>
  </div>
<br>
<p id="donateText"><a href="donationplaces" style="color: #00A9A5; font-weight: bold;"> Click here!</a> jika ingin langsung menuju halaman tempat donasi.</p>
</div>
<img src="{% static 'Charity-pana.png' %}" alt="" id="img-charity">
<br><br>
<div class="row" style="background-color: #0b5350e8;">
  <div class="col">
  <h2 id="contributors" style="color: white;">Contributors</h2>
  <p style="text-align: center; font-weight: bold; color: rgb(240, 240, 240);">Total: {{ total }}</p>
  <input id="search" type="search" class="form-control" placeholder="Cari nama donatur" style="width: 300px; margin: auto; text-align:center;">
  <br>
    <div class="scrollable" style="">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Num</th>
          <th scope="col">Name</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody id="dtable-body">
        {% if contributors %}
          {% for contributor in contributors %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ contributor.nama }}</td>
            <td>{{ contributor.kota }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
    </div>
    <br><br>
  </div>
</div>


{% endblock content %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
  $("#search").keyup( function() {
    var content = $("#search").val();
    var url = '/carinama';
    var counter = 1;
    $.ajax({
      url: url,
      success: function(result) {
        var obj_hasil = $("#dtable-body");
        obj_hasil.empty();
        for (i = 0; i < result.length; i++) {
          var str_nama = result[i].fields.nama.toLowerCase();
          if (str_nama.includes(content.toLowerCase())) {
            var nama = result[i].fields.nama;
            var kota = result[i].fields.kota;
            obj_hasil.append('<tr> <td> ' + counter + '</td> <td>' + nama + ' </td> <td>'+ kota + '</td> </tr>');
            counter++;
          }
        }
      }
    });
  });
  $("#search").click( function() {
    var search = document.getElementById("search");
    search.style.width = "350px";
  });
  $("#search").mouseleave( function() {
    var search = document.getElementById("search");
    search.style.width = "300px";
  });
  $("#img-charity").mouseenter( function() {
    var img = document.getElementById("img-charity");
    img.src = "{% static 'Charity-pana2.png' %}";
  });
  $("#img-charity").mouseleave( function() {
    var img = document.getElementById("img-charity");
    img.src = "{% static 'Charity-pana.png' %}";
  });
</script>
{% endblock script %}