* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #4E8098;
    margin-top: 100px;
}

h2 {
    color: #00A9A5;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* For base */
.title{
    font-family: 'Fjalla One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: #EEEEEE;
}

.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
border-color: rgb(255,255,255)
} 

nav .navbar-item-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;

    color: #FFFFFF;
}

/* hotline page */

#header-hotline {
    margin-top: 60px;
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #4E8098;
}

#img-hotline-1{
    position: relative;
    top: 40px;
    left: 100px;
    width: 47px;
    height: 37px;
    mix-blend-mode: darken;
}

#img-hotline-2{
    position: relative;
    top: 40px;
    left: 100px;
    width: 47px;
    height: 37px;
}

#img-hotline-3{
    position: relative;
    top: 40px;
    left: 100px;
    width: 47px;
    height: 37px;
}

#content-hotline-page-1{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #5F5F5F;
}

#content-rs-page-1{
    margin-left: 50px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #5F5F5F;

}

.col-centered{
    float: none;
    margin-right: auto;
    margin-left: auto;
}

#header-forms{
    text-align: center;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #00A9A5;
}

.footer {
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

#footer-logo{
    width: 30px;
    height: 30px; 
}

/* DONATION PAGE */
#donate {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}
#donateText {
    text-align: center;
    margin-bottom: 20px;
    color: #5F5F5F;
    font-family: 'Nunito', sans-serif;
}
.donation table{
    margin: 0 auto;
}
.donation td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.donation form input {
    width: 100%;
}
.donate-container {
    float: right;
    margin-right: 130px;
}
#img-charity {
    width: 450px; 
    margin-left: 100px;
}
#contributors {
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 10px;
}
.card-container {
    align-items: center;
}
.rowplaces {
    margin-left: 80px;
}
.card-donate {
    width: 30rem;
}
#thankyou {
    text-align: center;
}
.scrollable {
    position: relative;
    height: 450px;
    overflow-y: scroll;
    width: 45%; 
    margin: 0 auto; 
    text-align: center; 
    background-color: white;
}

@media screen and (max-width: 768px) {
    #img-hotline-1{
        left: 40px;
    }
    #img-hotline-2{
        left: 40px;
    }
    #img-hotline-3{
        left: 40px;
    }

    /* DONATION PAGE */
    #donate {
        font-size: 30px;
    }
    
    #donateText {
        font-size: 14px;
    }
    .donate-container {
        float: none;
        margin: 0 0;
    }
    #img-charity {
        width: 330px;
        margin: 0 auto;
    }
    #contributors {
        font-size: 24px;
    }
    .rowplaces {
        margin-left: 0;
    }
    .card-donate {
        width: 80%;
        margin: 0 auto;
    }
    .scrollable {
        width: 90%;
    }

    #footer-logo{
        width: 18px;
        height: 18px; 
    }
    .footer {
        font-size: 14px;
    }
}
    

/* SHARING PAGE */
#sharing-header {
    margin-top: 60px;
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #4E8098;
}

.sharing-desc {
    text-align: center;
    margin-bottom: 30px;
    color: #5F5F5F;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}

#btn-sharing {
    margin: auto;
    border-color: #00A9A5;
    color: #00A9A5;
}


#btn-result {
    margin: auto;
    border-color: #00A9A5;
    color: #00A9A5;
}

#btn-result:hover {
    background-color: #00A9A5;
    color: white;
}

#btn-submit {
    background-color: #00A9A5;
    border-color: #00A9A5;
    color: white;
}

#btn-submit:hover {
    background-color: #147c8e;
    border-color: #147c8e;
    color: white;
}

.chart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

@media screen and (max-width: 950px) {
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .sharing-desc {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .btn {
      font-size:11px;
      padding:4px 6px;
    }
  }
  
  @media (min-width: 768px) {
    .btn {
      font-size:12px;
      padding:6px 12px;
    }
  }
  
  @media (min-width: 992px) {
    .btn {
      font-size:14px;
      padding:8px 12px;
    }
  }
  
  @media (min-width: 1200px) {
    .btn {
      padding:10px 16px;
      font-size:18px;
    }
  }

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#search-sharing {
    background-color: #00A9A5;
    border-color: #00A9A5;
    color: white;
}

#search-sharing:hover {
    background-color: #147c8e;
    border-color: #147c8e;
    color: white;
}