{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kumpulan Sharing</title>
{% endblock meta %}

{% block content %}
<div>
    {% include 'navbar.html' %}
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 id="sharing-header">Sharing</h1>
    <p class="sharing-desc">Kumpulan pengalaman masyarakat seputar COVID-19</p>
    <p class="sharing-desc">Kembali ke halaman <a href="{% url 'sharing:sharing' %}">Sharing</a></p>
    <a href="{% url 'sharing:sharing-search' %}" id="btn-result" class="btn btn-outline-primary" role="button" aria-pressed="true">Cari Pengalaman</a>  
</div>

<div class="chart-container">
    <div id="agechart"></div>
    <div id="genderchart"></div>
</div>

<div class="d-flex flex-column justify-content-center" style="padding:2rem 8rem;">
    <p style="font-size:2rem;font-weight: bold;">Pengalaman</p>
    <hr/>
    {% for field in data %}
        <p>{{field.pengalaman}}</p>
        <hr/>
    {% endfor %}
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {

var datas = JSON.parse("{{chartData|escapejs}}"); 

var count14 = datas.filter((el)=>{
    return el.fields.age==="<14"
})
var count1549 = datas.filter((el)=>{
    return el.fields.age==="15-49"
})
var count5064 = datas.filter((el)=>{
    return el.fields.age==="50-64"
})
var count65 = datas.filter((el)=>{
    return el.fields.age===">65"
})

var dataAge = google.visualization.arrayToDataTable([
  ['Age', 'Count'],
  ['14 tahun atau kurang', count14.length],
  ['15 sampai 49 tahun', count1549.length],
  ['50 sampai 64 tahun', count5064.length],
  ['65 tahun atau lebih', count65.length]
]);
var countPerempuan = datas.filter((el)=>{
    return el.fields.gender==="perempuan"
})
var countLelaki = datas.filter((el)=>{
    return el.fields.gender==="laki-laki"
})

var dataGender = google.visualization.arrayToDataTable([
  ['Gender', 'Count'],
  ['Laki-Laki', countLelaki.length],
  ['Perempuan', countPerempuan.length],
]);

  // Optional; add a title and set the width and height of the chart
  var options = {
      'title':'Range Umur', 'width':500, 'height':400,
      colors: ['#3d819b','#205f6c', '#0c484d', '#00485d']
  };

  var options2 = {
      'title':'Jenis Kelamin', 'width':500, 'height':400,
      colors: ['#20474D', '#4E8098']
  };
  
  // Display the chart inside the <div> element with id="piechart"
  var chartAge = new google.visualization.PieChart(document.getElementById('agechart'));
  var chartGender = new google.visualization.PieChart(document.getElementById('genderchart'));
  chartAge.draw(dataAge, options);
  chartGender.draw(dataGender,options2);
}
</script>
{% endblock script %}
