{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Cari Pengalaman Masyarakat</title>
{% endblock meta %}

{% block content %}
<div>
    {% include 'navbar.html' %}
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 id="sharing-header">Cari Pengalaman Masyarakat</h1>
    <p class="sharing-desc">Cari pengalaman masyarakat yang relevan dengan Anda di sini.</p>
    <a href="{% url 'sharing:sharing-result' %}" id="btn-result" class="btn btn-outline-primary" role="button" aria-pressed="true">Lihat Pengalaman Keseluruhan</a>  
    <input class="form-control form-inline" style="margin-top: 20px; width: 30%;"type="text" id="keyword" placeholder="Cari Pengalaman...">
    <input class="form-control form-inline btn btn-primary click" style="margin-top: 20px; width: 100px;" type="button" id="search-sharing" value="Search">    
</div>
<div class="card shadow mb-5" style="margin:5vw;">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr id="search-header">
            <th>No.</th>
            <th>Range Umur</th>
            <th>Jenis Kelamin</th>
            <th>Pengalaman</th>
          </tr>
        </thead>
        <tbody id="search-res">
          
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock content %}



{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $.ajax({
    method: 'GET',
    url: '/caripengalaman',
    success: function(result) {
        $('#search-res').empty();
        var res = "";
        for (let i = 0; i < result.length; i++) {
              res += ('<tr>' + '<td>' + (i+1) + '</td>')
              res += '<td>' + result[i].fields.age + '</td>' + '<td>' + result[i].fields.gender + '</td>'
              res += '<td>' + result[i].fields.pengalaman + '</td>' + '</tr>'

        }
        $('#search-res').append(res);
    }
  })

  $("#search-sharing").click(function(){
        var keyword = $("#keyword").val();
        $.ajax({
            method: 'GET',
            url: '/caripengalaman',
            success: function(result) {
                $('#search-res').empty();
                var res = "";
                for (let i = 0; i < result.length; i++) {
                    var pengalaman = result[i].fields.pengalaman.toLowerCase();
                    if (pengalaman.includes(keyword.toLowerCase())) {
                      res += ('<tr>' + '<td>' + (i+1) + '</td>')
                      res += '<td>' + result[i].fields.age + '</td>' + '<td>' + result[i].fields.gender + '</td>'
                      res += '<td>' + result[i].fields.pengalaman + '</td>' + '</tr>'
                    }
                }
                console.log(res);
                if (res.length != 0) {
                  $('#search-res').append(res);
                } else {
                  alert("Keyword tidak ditemukan!");
                }
                
            }
        })
    });
    $("#search-header").mouseover( function() {
    var x = document.getElementById("search-header");
    x.style.backgroundColor = "#00A9A5";
  });
    $("#search-header").mouseleave( function() {
    var x = document.getElementById("search-header");
    x.style.backgroundColor = "";
  });
});
</script>
{% endblock script %}