{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sharing</title>
{% endblock meta %}

{% block content %}
<div>
  {% include 'navbar.html' %}
</div>
<style>
  textarea{
    padding:1rem;
  }
</style>
<div class="d-flex flex-column justify-content-center align-items-center">
  <h1 id="sharing-header">Sharing</h1>
    <p>Bagikan pengalaman Anda seputar COVID-19. </p>
    <p> Pengalaman Anda akan ditampilkan pada halaman 
      <a href="{% url 'sharing:sharing-result' %}">Kumpulan Sharing</a></p>
      <p>Anda bisa mencari pengalaman yang relevan pada
        halaman   <a href="{% url 'sharing:sharing-search' %}">Cari Pengalaman Sharing</a></p>
    <p class="sharing-desc">Sharing bersifat anonim.</p>
  
  <div class="dropdown my-menu"> 
    <button class="btn btn-secondary dropdown-toggle"  
            type="button"
            id="dropdownMenuButton" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"> 
        Lihat Kumpulan Sharing
    </button> 
    <div class="dropdown-menu" 
         aria-labelledby="dropdownMenuButton"> 
        <a class="dropdown-item" 
           href="{% url 'sharing:sharing-result' %}">Secara Keseluruhan</a> 
        <a class="dropdown-item" 
           href="{% url 'sharing:sharing-search' %}">Cari Berdasarkan Keyword</a>
    </div> 
</div> 

</div>


  <form method="POST">
    {% csrf_token %}
    <div class="mr-auto ml-auto" style="width: 50%;">
        {% for field in form %}
        <div class="form-group" style="display: flex;flex-direction: column;">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
    <br>
    <div class="container">
        <input type="submit" value="Submit" id="btn-submit"class="btn btn-primary click">
    </div>
    </div>
    <br> <br>

</form>



{% endblock content %}
