{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #092327;">
    <a class="navbar-brand" href="#">
        <div class ="title">
            covcare.
        </div>
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'home:index' %}">
                    <div class ="navbar-item-text">
                        Home 
                    </div>
                    <span class="sr-only">
                        (current)
                    </span>
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'sharing:sharing' %}">
                    <div class ="navbar-item-text">
                        Sharing
                    </div>
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'donation:donation' %}">
                    <div class ="navbar-item-text">
                        Donation
                    </div>
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'hotline:hotline' %}">
                    <div class ="navbar-item-text">
                        Hotline
                    </div>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'logout' %}">
                    <div class ="navbar-item-text">
                        Log Out
                    </div>
                </a>
            </li>
            {% else %}
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'login' %}">
                    <div class ="navbar-item-text">
                        Log In
                    </div>
                </a>
            </li>
            <li class="nav-item p-2">
                <a class="nav-link" href="{% url 'signup:signup' %}">
                    <div class ="navbar-item-text">
                        Sign Up
                    </div>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>